/* EXAMPLE SASS(SCSS) https://codepen.io/Lucaster85/pen/gOrBxKM?editors=1100 */

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/utilities";
@import "base/typography";

@import "components/button";

@import "layouts/header";

@import "pages/home";